{% extends 'layout.html' %}

{% block head_content %} Confirmation {% endblock %}

{% block main_content %}

<div class="card card-conf" style="width: 26rem;">
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this?</h5>
        <p class="card-text" style="width: 32rem;">It will be an irreversible process!</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button> <a href="#"
                class="btn btn-primary" onclick="window.history.back()">Back</a>
        </form>
    </div>
</div>
<style>
.card-conf {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: 25rem auto;
}
</style>


{% endblock %}